{{define "project_content"}}
<main class="page" id="project-content">
  {{template "app_chrome" .Chrome}}
  <div class="page__main">
    <div class="stack stack--lg">
      <header class="page-header">
        <div class="page-header__text">
          <h1 class="page-header__title">{{.Project.Name}}</h1>
          <p class="page-header__lede">
            Project <code>/w/{{.WorkspaceSlug}}/projects/{{.Project.Slug}}</code> in {{.WorkspaceName}}
          </p>
        </div>
        <div class="page-header__actions cluster">
          <a class="button button--primary" href="/w/{{.WorkspaceSlug}}/projects/{{.Project.Slug}}/issues">Issues</a>
        </div>
      </header>
      {{template "activity_feed" .}}
    </div>
  </div>
</main>
{{end}}
